@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --left: #0c134f;
    --right: #1d267d;
    --purple: #5c469c;
    --lightPurple: #d4adfc;
    --red: #f15e5e;
}

#adminTemplate {
    min-height: 100vh;
    background-color: var(--right);
    color: #fff;
}

#adminTemplate .col-md-2 {
    height: 100%;
    background-color: var(--left);
}

#adminTemplate .left {
    background-color: var(--left);
    min-height: 100vh;
}

#adminTemplate .left nav li {
    list-style: none;
    font-size: 2rem;
    margin: 6rem 0;
}

/* Pie chart */
#piechart {
    width: 100%;
    max-width: 900px;
    height: 0;
    padding-bottom: 55.56%;
    position: relative;
}

.chart-container {
    width: 100%;
    max-width: 600px;
    height: 500px;
    margin: 0 auto;
}

.egrgrs {
    background-color: var(--left);
}

.egrgrs ul li {
    font-size: 2rem;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3rem;
}

.navbar-toggler {
    font-size: 2rem;
}

#adminTemplate nav {
    position: fixed;
    top: 0;
    z-index: 999;
}

#adminTemplate .right {
    margin: 6rem 2.5rem;
}

#adminTemplate nav ul li.active a {
    color: #f2f2f2;
}

#manageCategory .card {
    background-color: #1d267d;
    color: #fff;
    margin: 3rem 0;
    font-size: 1.5rem;
    border: 0.1rem solid #0c134f;
}

#manageCategory .card .card-header {
    background-color: #0c134f;
}

#manageCategory .card .card-header button {
    font-size: 1.2rem;
}

#manageCategory .card .card-header form input {
    background-color: #1d267d;
    color: #fff;
    border: none;
    outline: none;
    padding: 0 0.5rem;
}

#manageCategory .card .card-header form button {
    background-color: #1d267d;
    color: #fff;
    border: none;
    outline: none;
    height: 2.2rem;
    width: 3rem;
}

#manageCategory .card .card-body {
    background-color: #1d267d;
}

#manageCategory .card .card-body table {
    color: #fff;
}

#manageCategory .card .card-body table tbody button {
    font-size: 1.2rem;
}

.modal.fade.show .modal-content {
    background-color: #f5f5f5;
    color: #000;
    font-size: 1.4rem;
}

.modal.fade.show .modal-content input,
.modal.fade.show .modal-content select,
.modal.fade.show .modal-content textarea {
    background-color: #f2f2f2;
    font-size: 1.5rem;
}

.modal.fade.show .modal-content input.btn {
    background-color: #0069d9;
    color: #fff;
}

#editCategory .card {
    font-size: 1.7rem;
}

#editCategory .card input,
#editCategory .card select,
#editCategory .card textarea {
    font-size: 1.3rem;
}

#deleteProductModal .modal-content.afeareatg {
    background-color: transparent;
}

#confirmation .box {
    height: 35rem;
    width: 45rem;
    box-shadow: 0.1rem 0.1rem 0.5rem #6b6767;
    border-radius: 0.3rem;
    background-color: #fff;
}

#confirmation .box .cross .closeCross {
    font-size: 3rem;
    margin: 0.5rem 0.8rem;
    cursor: pointer;
}

#confirmation .box .upper .mainCross {
    font-size: 4rem;
    height: 8rem;
    width: 8rem;
    margin: 1rem 18.2rem 3rem 18.2rem;
    color: var(--red);
    border: 0.2rem solid var(--red);
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: 400;
}

#confirmation .box .upper h2 {
    font-size: 2.3rem;
    font-weight: 500;
}

#confirmation .box .text h6 {
    font-size: 1.6rem;
    font-weight: 400;
    margin: 1rem 5rem;
}

#confirmation .box .buttons button {
    font-size: 1.4rem;
}

#confirmation .box .buttons button.cancel {
    height: 3.6rem;
    width: 10rem;
    color: #fff;
    background-color: gray;
    border: none;
    border-radius: 0.2rem;
    margin: 1rem 1.5rem;
    cursor: pointer;
}

#confirmation .box .buttons button.delete {
    height: 3.6rem;
    width: 10rem;
    color: #fff;
    background-color: var(--red);
    border: none;
    border-radius: 0.2rem;
    margin: 1rem 1.5rem;
    cursor: pointer;
}

.modal.fade.show .modal-dialog,
.modal.fade.show .modal-content.afaeaetgarsg {
    background: transparent !important;
}
