/* Mobile Devices */
@media (max-width: 600px) {
    #admin-navbar .navBg {
        width: 20%;
    }

    #admin-navbar .mainCtc {
        width: 80%;
    }

    #admin-navbar nav li .iconsSvgs {
        display: block;
        height: 5rem;
        width: auto;
        fill: #fff;
    }

    #admin-navbar nav li .itemsTexts {
        display: none;
    }
}

@media (min-width: 601px) and (max-width: 768px) {
    #admin-navbar .navBg {
        width: 20%;
    }

    #admin-navbar .mainCtc {
        width: 80%;
    }

    #admin-navbar nav li .iconsSvgs {
        display: block;
        height: 5rem;
        width: auto;
        fill: #fff;
    }

    #admin-navbar nav li .itemsTexts {
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (max-width: 1200px) {
}
