/* Admin CSS Starts Here */
html {
    font-size: 62.5%;
}

.red {
    color: red;
}

.green {
    color: green;
}

.manageOrder .modal-content {
    width: 74rem;
}

.adminDashboardBg {
    background-color: var(--admindasboard);
    min-height: 100vh;
}

:root {
    --adminNav: #181a1d;
    --admindasboard: #22252a;
    --admindasboardCard: #282b2f;
}

/* Admin NavBar CSS Starts Here */
#admin-navbar .navBg {
    background-color: var(--adminNav);
    min-height: 100vh;
}

#admin-navbar ul li {
    font-size: 2rem;
    margin: 2rem 0;
}

/* Admin NavBar CSS Ends Here */

/* Admin Dashboard CSS Starts Here */
/* Admin Dashboard CSS Ends Here */

/* Admin Category CSS Starts Here */
#manageCategory {
    background-color: var(--admindasboard);
}

#manageCategory .row .col-md-6.text-end button {
    font-size: 1.4rem;
}

#manageCategory .row .col-md-12 {
    margin: 5rem 0;
}

#manageCategory .row .col-md-12 .card {
    background-color: var(--admindasboardCard);
    color: var(--white);
}

#manageCategory .row .col-md-12 .card .card-body th,
td {
    color: var(--white);
    font-size: 1.5rem;
}

#manageCategory .row .col-md-12 .card .card-body td button {
    font-size: 1.2rem;
}

#manageCategory .row .col-md-12 .card .card-body td a {
    text-decoration: none;
    color: none;
}

#manageCategory form input.search {
    outline: none;
    border: none;
    height: 2.2rem;
    width: 20rem;
    padding: 0 1rem;
    font-size: 1.2rem;
    background-color: #fff;
}

#manageCategory form button.searchBtn {
    height: 2.3rem;
    width: 3rem;
    outline: none;
    border: none;
    background-color: #f2f2f2;
}

#addCategoryModal .modal-content {
    font-size: 1.5rem;
}

#addCategoryModal .modal-content input {
    height: 2.5rem;
    font-size: 1.2rem;
}

#addCategoryModal .modal-content textarea {
    font-size: 1.2rem;
}

#editCategory {
    min-height: 67.1rem;
    background-color: var(--admindasboard);
}

#editCategory .col-md-12.card-col {
    margin: 2rem 8rem;
}

.modal-content,
.modal-content .card,
.modal-content .card input,
.modal-content .card textarea {
    font-size: 1.45rem;
    margin: 1.2rem 0;
}

#editCategory .col-md-12 .card input.btn:hover {
    background-color: #0d6efd;
    color: var(--white);
}

#editCategory .card {
    font-size: 2rem;
}

#editCategory .card .card-body input,
#editCategory .card .card-body select {
    height: 3rem;
    font-size: 1.4rem;
}

#editCategory .card .card-body textarea {
    /* height: 2.6rem; */
    font-size: 1.4rem;
}
/* Admin Category CSS Ends Here */

/* Admin Products CSS Starts Here */
#manageProduct {
    background-color: var(--admindasboard);
    min-height: 56rem;
    width: 100%;
}

.modal.fade.show input,
.modal.fade.show select {
    height: 3rem;
    font-size: 1.4rem;
}

.modal.fade.show textarea {
    font-size: 1.4rem;
}

.modal.fade.show .sizeinc {
    width: 8rem;
}

/* Admin Products CSS Ends Here */

/* Admin CSS Ends Here */
