/* Mobile devices */
@media (max-width: 600px) {
    /* Top Header */
    #top-header {
        display: none;
    }

    /* Navbar  */

    .wd-10p {
        width: 10%;
    }

    .wd-90p {
        width: 90%;
    }

    #navbar .mt-sm-01.newio {
        margin-top: 1rem;
    }

    #navbar .mt-sm-04.newio {
        margin-top: 4rem;
    }

    #navbar .chg-10.wd-10p {
        width: 100%;
    }

    /* slider Upper Category */
    #cateAndSlider .row {
        width: 101.6% !important;
    }

    #cateAndSlider .col-md-2 {
        display: none;
    }

    /* Category */
    #featuresCategories .featCate .cateBody .row .col-md-3 {
        margin: 1.5rem auto;
    }

    /* Products */
    #featuresProducts .containerji .card {
        height: 25.7rem;
        width: auto;
    }

    #featuresProducts .containerji .card .imgBx img {
        top: 39%;
        width: 8.8rem;
    }

    #featuresProducts .containerji .card:hover .contentBx {
        height: 16.9rem;
    }

    .containerji .card .contentBx a {
        background-color: #0253a7;
    }

    /* Buy Now  */
    #buyNowContainer .row .productImage img:hover {
        transform: scale(1) !important;
    }

    #buyNowContainer .row .col-md-6.prodDet {
        width: 100%;
    }

    #buyNowContainer .row .col-md-3 .card {
        margin: 2rem 0;
        width: 100%;
    }

    .products-details .row {
        width: 100%;
    }

    #buyNowContainer .products-details .row form {
        width: 100%;
    }

    #buyNowContainer .products-details .row form .col-md-12.radios {
        width: 75%;
        margin: 1rem 0;
    }

    #buyNowContainer .row .designer {
        width: 100%;
    }

    #buyNowContainer .row .hire-designer::before {
        margin: 2rem 0;
    }

    #buyNowContainer .row .btn.btn-buy-page {
        margin: 1rem 0;
    }

    #buyNowContainer .row .custom-file-upload::before {
        margin: 1rem 0;
    }

    #specialEvent {
        display: none;
    }

    /* About Us */
    #ourObjectives {
        height: 69rem !important;
    }

    #ourObjectives .row .col-md-7 img {
        height: 25rem !important;
    }

    #ourServices .row .col-md-5.left {
        text-align: left;
    }

    #ourServices .row .col-md-2 {
        margin: 2rem 90px;
    }

    #ourServices .row .col-md-5 {
        margin: 4rem 0;
    }

    #ourObjectives .row .col-md-7 {
        text-align: center;
    }

    #pageHead {
        max-height: 8rem;
    }

    .navBarMyAcc .col-md-3 {
        min-width: 0;
        max-width: 10rem;
    }

    #myAccount .card {
        left: 0%;
        width: 100%;
    }

    #myAccount .card .col-md-2.togglePassUp {
        width: 1rem;
    }

    #myAccount .card .col-md-10.wd {
        width: 37rem;
    }

    #orderSection table thead th {
        font-size: 1.2rem;
    }

    /* Login And Register */
    #login .main {
        min-height: 33rem;
    }

    #login .main .box {
        height: auto;
        width: auto;
        padding: 1rem 0;
    }

    #login .row .col-md-10 {
        width: 84%;
    }

    #login .row .col-md-2.col-md-2.togglePassUp {
        width: 12%;
        margin: 0;
    }

    #login .main .right .col-md-12 .form-check a {
        font-size: 1.2rem;
    }

    #login form .row.mb-0 {
        width: 100%;
        justify-content: center;
    }

    #login .main .right .row .col-md-8 button {
        width: 75%;
    }

    #login .main .col-md-12.aldyacc a {
        font-size: 1.2rem;
    }

    /* Footer */
    #footer {
        margin: 0.2rem 0 0 0;
        min-height: 72rem;
        max-height: 72rem;
    }
}

@media (min-width: 601px) and (max-width: 768px) {
    /* Top Header */

    #top-header .jc-end {
        justify-content: left;
    }

    #top-header .col-md-3,
    #top-header .col-md-2 {
        width: auto;
        padding: 0 1rem;
    }

    /* Navbar  */

    .wd-10p {
        width: 10%;
    }

    .wd-90p {
        width: 90%;
    }

    #navbar .mt-sm-01.newio {
        margin-top: 1rem;
    }

    #navbar .mt-sm-04.newio {
        margin-top: 4rem;
    }

    #navbar .chg-10.wd-10p {
        width: 100%;
    }

    /* Cate And Slider */
    #cateAndSlider .row .col-md-2 {
        display: none;
    }

    #cateAndSlider .row .col-md-10 {
        width: 100%;
    }

    /* Login */
    #login .main .box {
        width: 80%;
    }

    #login .login .row .col-md-12 .col-md-10 {
        width: 89%;
    }
    #login .login .row .col-md-12 .col-md-2.togglePassUp {
        width: 10%;
    }

    /* About Us */
    #ourObjectives {
        height: 50rem;
    }

    #ourObjectives .row .col-md-7 {
        text-align: center;
        margin: 0;
    }

    #ourObjectives .row .col-md-7 img {
        width: 25rem;
        height: auto;
        margin: 2rem 0;
    }

    #ourServices .row .col-md-5 {
        margin: 4rem 0;
    }

    #ourServices .row .col-md-5.left {
        text-align: left;
    }

    #ourServices .row .col-md-2 {
        margin: 0.5rem 0;
    }

    #gsMembers .mainBox .box {
        width: 90%;
    }

    #gsMembers .mainBox .box-header {
        width: 90%;
    }

    /* Footer */
    #footer {
        margin: 0.2rem 0 0 0;
        min-height: 72rem;
        max-height: 72rem;
        max-width: 114.6rem !important;
    }
}

/* Tablets */
@media (min-width: 769px) and (max-width: 991px) {
    /* Navbar */

    .wd-10p {
        width: 10%;
    }

    .wd-90p {
        width: 90%;
    }

    #navbar .mt-sm-01.newio {
        margin-top: 1rem;
    }

    #navbar .mt-sm-04.newio {
        margin-top: 4rem;
    }

    #navbar .chg-10.wd-10p {
        width: 100%;
    }

    #navbar .mt-sm-04.newio .col-md-8 {
        width: 90%;
    }

    /* Cate And Slider */
    #cateAndSlider .col-md-2 {
        width: 30%;
    }

    #cateAndSlider .col-md-10 {
        width: 70%;
    }
}

/* Laptops and Desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Large Desktops and Screens */
@media (min-width: 1200px) {
    /* Navbar */

    #navbar .wd-auto {
        width: auto;
    }
}
