/* Mobile devices */
@media (max-width: 600px) {
    .ed {
        text-align: left;
        margin: 1.3rem 0;
    }
    /* Top Header */
    #top-header {
        display: none;
    }

    /* Navbar */
    #navbar {
        width: 100%;
    }

    #navbar .container {
        margin: 0;
        padding: 0;
    }

    #navbar .row.sow {
        width: 36rem;
    }

    #navbar .row .col-md-2.logocol {
        width: 19rem;
    }

    #navbar .row .col-md-8 {
        width: 5rem !important;
    }

    #navbar .row .col-md-8 .navbar.navbar-expand-lg .navbar-toggler {
        margin: 1rem 13rem;
    }

    #navbar .row .col-md-8 .navbar.navbar-expand-lg .nav-tem .nav-link {
        margin: 1rem 0 0 0;
    }

    #navbar .row .col-md-7 {
        width: 7rem;
    }

    #navbar .row .col-md-7 .main {
        margin: 1rem 0 0 6rem !important;
    }

    #navbar .row .col-md-8 .main {
        padding-left: 15rem !important;
    }

    #navbar .collapse.navbar-collapse.show {
        width: 100%;
    }

    #navbar .main form {
        margin: 1.4rem 0 0 -22rem;
    }

    #navbar .myAccount {
        display: block !important;
    }

    #navbar .col-md-1.bdr.jijo {
        width: 19rem;
        margin: 1.5rem 0;
    }

    #navbar .col-md-1.bdr.jijo a {
        color: #000;
        text-decoration: underline;
    }
    /* slider Upper Category */
    #cateAndSlider .row {
        width: 101.6% !important;
    }

    #cateAndSlider .col-md-2 {
        display: none;
    }

    /* Category */
    #featuresCategories .featCate .cateBody .row .col-md-3 {
        margin: 1.5rem auto;
    }

    /* Products */
    #featuresProducts .containerji .card {
        height: 25.7rem;
        width: 37.2rem;
    }

    #featuresProducts .containerji .card .imgBx img {
        top: 39%;
        width: 8.8rem;
    }

    #featuresProducts .containerji .card:hover .contentBx {
        height: 16.9rem;
    }

    .containerji .card .contentBx a {
        background-color: #0253a7;
    }

    /* Buy Now  */
    #buyNowContainer .row .productImage img:hover {
        transform: scale(1) !important;
    }

    #buyNowContainer .row .col-md-6.prodDet {
        width: 100%;
    }

    #buyNowContainer .row .col-md-3 .card {
        margin: 2rem 0;
        width: 100%;
    }

    .products-details .row {
        width: 38rem;
    }

    #buyNowContainer .products-details .row form {
        width: 100%;
    }

    #buyNowContainer .products-details .row form .col-md-12.radios {
        width: 100%;
    }

    #buyNowContainer .row .designer {
        width: 100%;
    }

    #buyNowContainer .row .hire-designer::before {
        margin: 2rem 2rem;
    }

    #buyNowContainer .row .btn.buy-now-button.btn-buy-page {
        margin: 2rem 14rem;
    }

    #specialEvent {
        display: none;
    }

    /* About Us */
    #ourObjectives {
        height: 69rem !important;
    }

    #ourObjectives .row .col-md-7 img {
        height: 25rem !important;
    }

    #ourServices .row .col-md-5.left {
        text-align: left !important;
    }

    #ourServices .row .col-md-2 {
        margin: 2rem 90px !important;
    }

    #ourServices .row .col-md-5 {
        margin: 4rem 0 !important;
    }

    #pageHead {
        max-height: 8rem;
    }

    .navBarMyAcc .col-md-3 {
        min-width: 0;
        max-width: 10rem;
    }

    #myAccount .card {
        left: 0%;
        width: 100%;
    }

    #myAccount .card .col-md-2.togglePassUp {
        width: 1rem;
    }

    #myAccount .card .col-md-10.wd {
        width: 37rem;
    }

    #orderSection table thead th {
        font-size: 1.2rem;
    }

    /* Login And Register */
    #login .main .box {
        width: 80%;
    }

    #login .row .col-md-10 {
        width: 84%;
    }

    #login .row .col-md-2.col-md-2.togglePassUp {
        width: 12%;
        margin: 0;
    }

    /* Footer */
    #footer {
        margin: 0.2rem 0 0 0;
        min-height: 72rem;
        max-height: 72rem;
    }
}

@media (min-width: 601px) and (max-width: 768px) {
    /* Top Header */

    #navbar .container {
        margin: 0;
    }

    #top-header .col-md-9 {
        width: 56%;
    }

    #top-header .row .col-md-1 {
        padding: 0 0 0 0.3rem;
    }

    #top-header .col-md-1.bdr.jijo {
        width: 16%;
        margin: 0 0 0 3rem;
    }

    #top-header .col-md-1.bdr.uiui {
        width: 11%;
    }

    #top-header .col-md-1.ccio {
        width: 11%;
    }

    /* NavBar */

    #navbar .col-md-2.logocol {
        width: 21rem;
        margin: 0;
    }

    #navbar .row .col-md-7 {
        width: 30rem;
        margin: 1rem 0 0 0;
    }

    #navbar .row .col-md-7 .main {
        margin: 0;
    }

    #navbar .col-md-7 .main .navbar-toggler {
        margin: 0 29rem;
    }

    #navbar .row .col-md-7 .main .search {
        margin: 1rem 0;
    }

    #navbar .row .col-md-7 .main .search input {
        width: 30rem;
    }

    #navbar .row .col-md-7 .col-md-1.ed.up.hiu {
        text-align: left;
    }

    /* Cate And Slider */
    #cateAndSlider .row .col-md-2 {
        display: none;
    }

    #cateAndSlider .row .col-md-10 {
        width: 100%;
    }

    /* Login */
    #login .main .box {
        width: 80%;
    }

    #login .login .row .col-md-12 .col-md-10 {
        width: 89%;
    }
    #login .login .row .col-md-12 .col-md-2.togglePassUp {
        width: 10%;
    }

    /* Footer */
    #footer {
        margin: 0.2rem 0 0 0;
        min-height: 72rem;
        max-height: 72rem;
        max-width: 114.6rem !important;
    }
}

/* Tablets */
@media (min-width: 769px) and (max-width: 991px) {
    /* Top Header */
    #top-header .col-md-9 {
        width: 66%;
    }

    #top-header .row .col-md-1.bdr {
        width: 16%;
        padding: 0 0 0 0.3rem;
    }

    #top-header .col-md-1.bdr.uiui {
        width: 6%;
    }

    /* Navbar */

    #navbar .col-md-2.logocol {
        width: 21rem;
        margin: 0;
    }

    #navbar .row .col-md-7 {
        width: 30rem;
        margin: 1rem 0 0 0;
    }

    #navbar .row .col-md-7 .main {
        margin: 0;
    }

    #navbar .col-md-7 .main .navbar-toggler {
        margin: 0 48rem;
    }

    #navbar .row .col-md-7 .main .search {
        margin: 1rem 0;
    }

    #navbar .row .col-md-7 .main .search input {
        width: 30rem;
    }

    #navbar .row .col-md-7 .col-md-1.ed.up.hiu {
        text-align: left;
    }

    /* Cate And Slider */
    #cateAndSlider .col-md-2 {
        width: 30%;
    }

    #cateAndSlider .col-md-10 {
        width: 70%;
    }
}

/* Laptops and Desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    #navbar form input#search {
        width: 44rem;
    }
}

/* Large Desktops and Screens */
@media (min-width: 1200px) {
    /* Add styles specific to large screens here */
}
